<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="pb-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", autofocus: true %>
  </div>
  <div class="pb-2">
    <%= f.label :value %>
    <%= f.number_field :value, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"  %>
  </div>
  <div class="pb-2">
    <%= f.label :purchased_on %>
    <%= f.date_field :purchased_on, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"  %>
  </div>
  <div class="pb-2">
    <%= f.label :producer_id %>
    <%= f.select :producer_id, options_for_select(@producers.map {|c| [c.name, c.id]}),{},  { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"}  %>
  </div>
  <% if(render_category) %>

  <div class="pb-2">
    <%= f.label :transaction_category_id %>
    <%= f.select :transaction_category_id, options_for_select(@categories.map {|c| [c.name, c.id]}),{},  { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"}  %>
  </div>

  <% end %>
  <div class="pb-2">
    <%= f.submit %>
  </div>
<% end %>
