<p style="color: green"><%= notice %></p>

<h1>Despeses</h1>

<div class="py-6">
  <% @expenses.each do |expense| %>
    <p>
    <%= expense.title %> | <%= expense.value %> <%= expense.formatted_currency %> | <%= link_to "Veure detalls", expense %>
    </p>
  <% end %>
</div>

<%= link_to "Entrar nova despesa", new_expense_path %>
